:root {
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'norsebold';
  src: url('norse-bold-webfont.woff2') format('woff2'),
       url('norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.form-container {

}

/*
Create Account Button: #596D48
Input Default Border:  #E5E7EB
*/